{% extends "parent_header.html" %}
{% block real_content %}
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <title> Contact Us </title>

</head>
<style>
</style>
<body>


<div class="container"><br><br>
  <div class="row">
    <h5 style="border-bottom: 3px solid #000;padding-bottom:5px;"> BRANCHES </h5>
  </div>
</div><br><br>


<div class="container" align="middle">
  <div class="row">



      <div class="col-lg-4 col-md-6 col-12">

      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header"> Yelahanka </div>
        <div class="card-body">
          <h5 class="card-title">Address :</h5>
          <p class="card-text">#343, 2nd Floor, 3rd Main Road, 407-SFS, Above Bank of Maharastra, Yelahanka New Town , Bengaluru - 560064.</p>
          <h5 class="card-title">Contact :</h5>
          <p class="card-text">080-48900747 , 7996074335 , 9741233067</p>
          <h5 class="card-title">Email :</h5>
          <p class="card-text">ylk@gearsacademy.org</p>
        </div>
      </div>
      </div>

      <div class="col-lg-4 col-md-6 col-12">

        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
          <div class="card-header">T Dasarahalli</div>
          <div class="card-body">
            <h5 class="card-title">Address :</h5>
            <p class="card-text">Above Krishna Mart , 1st Main, Kempegowda Nagar, T. Dasarahalli , Bengaluru - 560057.</p>
            <h5 class="card-title">Contact :</h5>
            <p class="card-text"> 080-28393555 , 9739492349 , 9900597446</p>
            <h5 class="card-title">Email :</h5>
            <p class="card-text">tdh@gearsacademy.org</p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 col-12">

        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
          <div class="card-header"> Malleswaram </div>
          <div class="card-body">
            <h5 class="card-title">Address :</h5>
            <p class="card-text">1st Floor, #11 (New No. 49) , Sampige Road , 6th Cross , Malleswaram, Bengaluru - 560003</p>
            <h5 class="card-title">Contact :</h5>
            <p class="card-text">080-43757905 , 9480012951 , 9739492349</p>
            <h5 class="card-title">Email :</h5>
            <p class="card-text">mlm@gearsacademy.org</p>
          </div>
        </div>
      </div>

</div>
</div>


<div class="container" align="middle">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-12">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d971.4821800523828!2d77.57143847839761!3d13.103702060173354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1900ab107c97%3A0x44058a95e6e11f95!2sGears+Academy-+Yelahanka!5e0!3m2!1sen!2sin!4v1554887067599!5m2!1sen!2sin" width="350" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
      <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15550.00067291083!2d77.5332795!3d13.00378935!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1554505636961!5m2!1sen!2sin" width="350" height="250" frameborder="0" style="border:5" allowfullscreen></iframe> -->
    </div>
    <div class="col-lg-4 col-md-6 col-12">
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.83090584611!2d77.50723491477143!3d13.046432990806796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3dd0829c6ae1%3A0x2048db82f2b06665!2sGears+Academy!5e0!3m2!1sen!2sin!4v1562665498805!5m2!1sen!2sin" width="350" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.597783204139!2d77.5695564147709!3d12.997558090838849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17bd58f1b449%3A0x1a34c8cbaa92a482!2sGears+Academy!5e0!3m2!1sen!2sin!4v1562665714008!5m2!1sen!2sin" width="350" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

</div>
</div>


<!-- <div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-12">

    <ul class="list-group" align="center">
      <div class="media" style="background-color:#F8590F;color:white">
        <div class="media-left">
          <a href="#">

          </a>
        </div>
        <div class="media-body" >
          <h5 class="media-heading"> <pre> </pre> T Dasarahalli  </h5>
          <hr style="color:white;height:3px;" class="showdow">
          Address :
          <h5> Above Krishna Mart , 1st Mian, Kempegowda Nagar, T. Dasarahalli , Bengaluru - 560057 </h5>
        </div>
      </div><br>

      <div class="media" style="background-color:#F32525;color:white">
        <div class="media-left">
          <a href="#">

          </a>
        </div>
        <div class="media-body" >
          <h5 class="media-heading"> <pre> </pre> Yelahanka  </h5>
          <hr style="color:white;height:3px;" class="showdow">
          <div class="container">
            Address :
            <h5> #343, 2nd Floor, 3rd Main Road, 407-SFS, Above Bank of Maharastra, Yelahanka , Bengaluru - 560064 </h5>
          </div>
        </div>
      </div><br>

      <div class="media" style="background-color:#2D4EF3;color:white">
        <div class="media-left">
          <a href="#">
          </a>
        </div>
        <div class="media-body" >

          <h5 class="media-heading"> <pre> </pre> Malleswaram   </h5>
          <hr style="color:white;height:3px;" class="showdow">
          Address :
          <h5> 1st Floor, #11 (New No. 48) , Sampige Road , 6th Cross , Malleswaram, Bengaluru - 560003 </h5>
        </div>
      </div>
    </ul>

  </div>
  </div> -->
<br><br>


</body>
</html>
{% endblock %}
